<div class="container"> 
      <a class="btn btn-default btn-flat" href="#/evidence" role="button"><i class="fa fa-chevron-left fa-2x"></i></a> 

    <div class="container indiv-intro">
        <div class="indiv-pic"><i class ="fa fa-photo-o"></i></div>
        <h2 class="info-text">Incriminating Photos</h2>
    </div>
        <div class="container indiv-intro">
        <div class="indiv-pic"><i class ="fa fa-user-secret"></i></div>
        <h2 class="info-text">Anonymous Pirate Message</h2>
    </div>
        <div class="container indiv-intro">
        <div class="indiv-pic"><i class ="fa fa-envelope"></i></div>
        <h2 class="info-text">Mayoral Will</h2>
    </div>
        <div class="container indiv-intro">
        <div class="indiv-pic"><i class ="fa fa-frown-o"></i></div>
        <h2 class="info-text">Murder Weapon</h2>
    </div>
        <div class="container indiv-intro">
        <div class="indiv-pic"><i class ="fa fa-ellipsis-h"></i></div>
        <h2 class="info-text">Security Clearance Code</h2>
    </div>
        <div class="container indiv-intro">
        <div class="indiv-pic"><i class ="fa fa-file-text"></i></div>
        <h2 class="info-text">Anonymous Tip</h2>
    </div>
    <div class="container indiv-info">
      <!-- Incriminating Photos -->
      <p>These show Tatiana two months ago, alongside the president of <em>Malvarmeta Ĵurnalo</em>, aboard the ship of a mod space pirate gang. Tatiana was supposed to be out of the country with Tuck at this time, and here she is depicted handing a suspicious giant bag of cash to the lead pirate. They are all celebrating some nefarious cause, enjoying glasses of synthetic algae champagne and bags of Mitchell & Webb Food Productions's newest trendy food, Cressps. Once you Cressp, you just can't splessp.</p>
      <!-- Anonymous Pirate Message -->
      <p>Originally broadcast to Teresa alone, but she shared it with the entire party. The message is from an anonymous member of a mod space pirate gang, whose face has been pixellated and voice distorted. The pirate says that the mayor's daughter was briefly involved as a pirate and got on the bad side of the gang. The mayor allegedly bribed, and later threatened, the pirates so the information would not be made public. </p>
      <!-- Mayoral Will -->
      <p>The mayor has split his large fortune several ways. As expected, the bulk of it goes to his wife and daughter, and a lesser amount to various siblings, cousins, associates, and, of course, Tony. The rest is divided between two organizations. The first is Tatiana's non-profit <em>Malvarmeta Ĵurnalo</em>, whose mission is to bring Earth flora and fauna to disadvantaged planets. But the second non-profit, to which Tuck bequeathed quite a sizable sum more, is a small charity that not many have heard of, and with which Tuck had no known previous affiliations. </p>
      <!-- Murder Weapon -->
      <p>A delicate relic of the mid-20th century, this antique dagger was part of the Mayor's extensive collection of goods from the era. It was a present from the late Professor Tobias, prominent historian and Tallulah's father. It was found stuck in Mayor Tuck's back, and the locked collection room in which it would normally reside had no signs of forced entry.</p>
      <!-- Security Code -->
      <p>This is the security clearance code for <em>Zwiastunem Wolności</em>, the newspaper you run. The code gives the highest level access to your database, and if it falls into the wrong hands, it would spell disaster for the careers of you and all of your employees.</p>
      <!-- Anonymous Tip -->
      <p>This tip was sent to you a couple days ago, and you had intended to investigate it alongside your coverage of the fundraiser. It was sent to your personal account, rather than the company one. It reads:<br><br>
      Hello Tina. You do not know me, but I know you, and I know you are the only one at [  ] who can be trusted with this information. Mayor Tuck is not who he seems. His past is riddled with lies, and his ascension up the political ranks came at the high cost of corruption. Not only his, but his family's and his employees'. He must be stopped before he becomes President. Not if, but when. His crooked influences will speed him right through elections with little resistance, much like the new aerodynamic Baldur 3000 hovercar flies effortlessly through the atmosphere.</p>
      <a class="btn btn-default btn-flat" ng-href="#/guestlist" role="button"><i class="fa fa-share fa-2x"></i></a>
    </div>
    <div class="container" align="center">
        <button class="btn btn-default btn-flat" ng-click="share()" role="button"><i class="fa fa-share fa-2x"><h4>Share</h4></i></button>
    </div> 
