<div class="container"> 
      <a class="btn btn-default btn-flat" href="#/evidence" role="button"><i class="fa fa-chevron-left fa-2x"></i></a>
    </div>  

    <div class="container indiv-intro">
        <div class="indiv-pic"><i class ="fa fa-ellipsis-h"></i></div>
        <h2 class="info-text">Security Clearance Code</h2>
    </div>
    <div class="container">
    </div>
    <div class="col-md-4 col-md-offset-4 indiv-info">
      <p>This is the security clearance code for <em>Zwiastunem Wolności</em>, the newspaper you run. The code gives the highest level access to your database, and if it falls into the wrong hands, it would spell disaster for the careers of you and all of your employees.</p>
    </div>

    <div class="container col-md-4 col-md-offset-4" align="center">
      <a class="btn btn-default btn-flat" ng-href="#/guestlist" role="button"><i class="fa fa-share fa-2x"></i></a>
    </div>
