<div class="container">
  <h2>Evidence</h2>
        <ul class="info">
            <li ng-show="task == 3">
              <div class="info-badge"><i class ="fa fa-picture-o"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Incriminating Photos</h3>
                  <small class="text-muted">Shared by Thibault</small>
              </div>
            </li>            
            <li>
              <div class="info-badge"><i class ="fa fa-user-secret"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Anonymous Pirate Message</h3>
                  <small class="text-muted">Shared by Teresa</small>
              </div>
            </li>
            <li>
              <div class="info-badge"><i class ="fa fa-envelope"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Mayoral Will</h3>
              </div>
            </li>
            <li>
              <div class="info-badge"><i class ="fa fa-frown-o"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Murder Weapon</h3>
              </div>
            </li>
            <li>
              <a href="#/clue">
              <div class="info-badge dead"><i class ="fa fa-ellipsis-h"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Security Clearance Code</h3>
              </div>
              </a>
            </li>
            <li>
              <div class="info-badge"><i class ="fa fa-file-text"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Anonymous Tip</h3>
              </div>
            </li>
        </ul>
    </div>
