<div class="container">
        <ul class="info">
            <li>
              <div class="info-badge"><i class ="fa fa-picture-o"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Evidence</h3>
                  <small class="text-muted">Shared by Tony</em></small>
              </div>
            </li>
            <li>
              <div class="info-badge"><i class ="fa fa-picture-o"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Evidence</h3>
              </div>
            </li>
            <li>
              <a href="#/clue">
              <div class="info-badge dead"><i class ="fa fa-ellipsis-h"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Security Clearance Code</h3>
              </div>
              </a>
            </li>
            <li>
              <div class="info-badge"><i class ="fa fa-picture-o"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Evidence</h3>
                  <small class="text-muted">Shared by Tony</small>
              </div>
            </li>
        </ul>
    </div>