<div class="container">
        <ul class="info">
            <li id="Tina" class="you">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tina</h3>
                  <small class="text-muted">Chief Investigative Reporter of <em>Zwiastunem Wolności.</em></small>
              </div>
            </li>
            <li id="Tatiana">
            
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tatiana</h3>
                  <small class="text-muted">The mayor's wife.</small>
              </div>
            </li>
            <li id="Tuck">
              <div class="info-badge dead"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tuck</h3>
                  <small class="text-muted">The mayor, freshly deceased from a stab wound in the back.</small>
              </div>
            </li>

            <li id="Thibault">
                <a href="#/guest">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Thibault</h3>
                  <small class="text-muted">A high-profile member of the goth space pirates.</small>
              </div>
          </a>
            </li>
            <li id="Tony">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tony</h3>
                  <small class="text-muted">Tuck's personal bodyguard.</small>
              </div>
            </li>
        </ul>
    </div>