<div class="container">
  <h2>Guest List</h2>
        <ul class="info">
            <li id="Tina" class="you">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tina</h3>
                  <small class="text-muted">Chief Investigative Reporter of <em>Zwiastunem Wolności.</em></small>
              </div>
            </li>
            <li id="Tuck">
              <div class="info-badge dead"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tuck</h3>
                  <small class="text-muted">The mayor, freshly deceased from a stab wound in the back.</small>
              </div>
            </li>
            <li id="Tatiana">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tatiana</h3>
                  <small class="text-muted">The mayor's wife and Vice President of Organics for Planets.</small>
              </div>
            </li>
            <li id="Theodora">
              <div class="info-badge dead"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Theodora</h3>
                  <small class="text-muted">The mayor's twenty-something daughter, his pride and joy.</small>
              </div>
            </li>
             <li id="Thomas">
              <div class="info-badge dead"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Thomas</h3>
                  <small class="text-muted">The host of the fundraiser, and the CEO of Yggdrasil Cars, pioneer of the hovercar industry.</small>
              </div>
            </li>           
            <li id="Teresa">
              <div class="info-badge dead"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Teresa</h3>
                  <small class="text-muted">A reporter for the most popular mainstream paper, <em>Malvarmeta Ĵurnalo</em>.</small>
              </div>
            </li>
            <li id="Thibault">
                <a href="#/guest">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Thibault</h3>
                  <small class="text-muted">A high-profile member of the goth space pirates.</small>
              </div>
          </a>
            </li>
            <li id="Tony">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tony</h3>
                  <small class="text-muted">Tuck's personal bodyguard.</small>
              </div>
            </li>
            <li id="Teagan">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Teagan</h3>
                  <small class="text-muted">A retired mod space pirate who now teaches at Chromesville College.</small>
                </div>
            </li>
            <li id="Tallulah">
              <div class="info-badge"><i class ="fa fa-user"></i></div>
              <div class="info-panel">
                  <h3 class="info-text">Tallulah</h3>
                  <small class="text-muted">Theodora's best friend from childhood.</small>
                </div>
            </li>
        </ul>
    </div>
