<div class="container"> 
  <h2>View Guest</h2>
      <a class="btn btn-default btn-flat" ng-href="#/guestlist" role="button"><i class="fa fa-chevron-left fa-2x"></i></a>

    <div class="container indiv-intro">
        <div class="indiv-pic"><i class ="fa fa-user"></i></div>
        <h2 class="info-text">Thibault</h2>
        <small class="text-muted">A high-profile member of the goth space pirates.</small>
    </div>

    <div class="container" align="center"><button class="btn btn-lg btn-danger" ng-show="task == 3" ng-click="accuse()">Accuse</button></div>

<div class="container">
      <ul class="nav nav-pills center-pills">
        <li id="pub-button" role="presentation" class="active" onclick="switchPub()"><a href="#/guest">Public</a></li>
        <li id="priv-button" role="presentation" onclick="switchPriv()"><a href="#/guest">Private</a></li>
      </ul>
    </div>
    <div class="col-md-6 col-md-offset-3 indiv-info">
      <div id="public">
          <p>As a goth space pirate, he loves all things dark and morbid. Though there are many who claim this, he is one of the few who can actually trace his ancestry back to Robert Smith.</p>            
      </div>

      <div id="private" class="hidden">
          <p>He manages all intel trades for his gang of space pirates, and has done so for the past fifteen years.</p><hr>
          <p>Back in the day, he did an interview for your paper, in which he admitted that he is deathly afraid of bees. Nowadays, he tries to hide that fact, and never mentions the interview at all.</p>
      </div>
    </div>

        <script>
        function switchPub() {
          document.getElementById("pub-button").classList.add("active");
          document.getElementById("priv-button").classList.remove("active");
          document.getElementById("public").classList.remove("hidden");
          document.getElementById("private").classList.add("hidden");
        }

        function switchPriv() {
          document.getElementById("priv-button").classList.add("active");
          document.getElementById("pub-button").classList.remove("active");
          document.getElementById("private").classList.remove("hidden");
          document.getElementById("public").classList.add("hidden");
        }
        </script>

      </div>
