<div class="container">
    <div class="">
        <h2>Notes</h2>
         <div>
            <input type="textarea" class="" id="current" placeholder="Write a note here..." ng-model="current"></input>
            <button class="btn btn-default" type="button" ng-click="addNote()"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <table class="table table-hover">
    <tr data-ng-repeat="note in notes">
        <td>{{note.text}}</td>
        <td><button ng-click="deleteNote(note)" class="close">&times</button></td>
    </tr>
    </table> 

</div>
</div>