<div class="">
    <div class="container">
         <h2>Objectives</h2>

        <ul class="list-group" style="list-style-type:none">
            <li class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"/>Negotiate with Thibault in order to obtain intel on Tatiana's influence on the space pirates.</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus, lectus id tincidunt tempus, lorem leo interdum eros, quis blandit tortor diam et ligula.</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />Nullam sit amet velit scelerisque, suscipit neque sed, sollicitudin magna.</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />Donec blandit, ipsum sed tempor sagittis, mi nisi vestibulum tortor, ac facilisis enim purus sit amet nibh. Proin sapien eros, vulputate in mollis eu, viverra nec augue.</label>
                </div>
            </li>
        </ul>
    </div>
</div>