<div class="container">
        <div>
        <h2>Timeline</h2>
        <h4> Stage {{task}} </h4>
        </div>
        <p ng-show="task == 3"><label style="font-style: italic; padding-right: 10px">The time has come to make your accusation! </label><a class="btn btn-danger" ng-href="#/guestlist">Accuse</a></p>
        <ul class="timeline">
            <li ng-show="task == 3">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div>
                  <h4>8:12 PM</h4>
                  <p>Tatiana announces that she plans to confess something, but before she can finish her thought, she falls into a possibly-induced electro-coma.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div>
                  <h4>7:23 PM</h4>
                  <p>Teresa shares an anonymous message she has privately gotten with the entire group, detailing a previously unknown facet of Tuck's history.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div>
                  <h4>6:57 PM</h4>
                  <p>Gruesome stabbing. Presidential hopeful and mayor of Chromesville, Tuck, is dead.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div>
                  <h4>6:35 PM</h4>
                  <p>Dinner is served. Coquilles Saint-Jacques with a lovely Blanquette de Veau.</p>
                </div>
              </div>
            </li>
        </ul>

    </div>
