<div class="container">
        <div>
        <h1> Stage II </h1>
        </div>
        <ul class="timeline">
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div>
                  <h4>7:23 PM</h4>
                  <p>Mysterious letter is found and read to group detailing Mayor's corruption.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div>
                  <h4>6:57 PM</h4>
                  <p>Mayor is found dead, knife stuck in his back.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div>
                  <h4>6:35 PM</h4>
                  <p>Dinner is served. Coquilles Saint-Jacques with a lovely Bisquette de something.</p>
                </div>
              </div>
            </li>
        </ul>
    </div>
